<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script>
        Vue.config.productionTip = false
    </script>
        <title>姓名案例_methods实现</title>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstname"><br><br>
        姓：<input type="text" v-model="secondname"><br><br>
        姓名：<span>{{fullName()}}</span>
    </div>   
    </body>
    <script type="text/javascript">
        Vue.config.devtools = true
        new Vue({
            el:'#root',
            data:{
                firstname:'张',
                secondname:'三',
            },
            methods:{
                fullName(){
                return this.firstname+'-'+this.secondname
            } 
            },
        })
    </script>
</html>